Repository Turing-Roomies/roomies-fe, pull requests merged in 2021-07, with the labels that each got.

#28 Add cypress.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
Labels: Sprint 0

#31 Feature/feed
  package-lock.json
  src/Context.js
  src/components/App/App.js
  src/components/Card/Card.js
  src/components/Dashboard/Dashboard.js
  src/data.js
Labels: Sprint 1, front-end

#36 Feature/api calls
  cypress/integration/dashboard_spec.js
  cypress/support/commands.js
  src/Context.js
  src/Context/ErrorContext.js
  src/Context/UsersContext.js
  src/components/App/App.js
  src/components/Card/Card.js
  src/components/Dashboard/Dashboard.js
  src/data.js
  src/utilities/apiCalls.js
Labels: Sprint 2, cypress, front-end, react

#39 Feature/roomie request
  src/Context/CurrentUserContext.js
  src/Context/RequestRoomieContext.js
  src/components/App/App.js
  src/components/Card/Card.js
  src/utilities/apiCalls.js
Labels: Sprint 3, front-end, user stories

#40 Feature/login
  cypress/integration/dashboard_spec.js
  src/components/App/App.js
  src/components/Card/Card.js
  src/components/Dashboard/Dashboard.js
  src/components/Home/Home.js
  src/components/Login/Login.js
  src/components/Login/Login.scss
  src/components/Navbar/Navbar.js
  src/utilities/dummyData.js
Labels: Sprint 4, error handling, front-end, react, router, user stories

#43 Cypress/update home spec
  cypress/integration/home_spec.js
  cypress/integration/login_spec.js
  cypress/support/commands.js
  src/components/App/App.js
Labels: cypress, front-end

#45 Fix all merge conflicts on new branch
  cypress/integration/login_spec.js
  src/Context/CurrentUserContext.js
  src/components/App/App.js
  src/components/Card/Card.js
  src/components/Dashboard/Dashboard.js
  src/components/Login/Login.js
  src/components/Navbar/Navbar.js
  src/components/Requests/Requests.js
  src/components/Requests/Requests.scss
  src/utilities/dummyData.js
Labels: Sprint 4, front-end, react, router, user stories

#47 Conditionally render button if currentUser is truthy
  cypress/integration/dashboard_spec.js
  cypress/integration/login_spec.js
  src/components/App/App.js
  src/components/Card/Card.js
Labels: Sprint 3, error handling, front-end, react, user stories

#52 Testing/roomie requests
  cypress/fixtures/mock-data.json
  cypress/integration/dashboard_spec.js
  cypress/integration/login_spec.js
  cypress/integration/roomie_request_spec.js
  cypress/support/commands.js
  src/components/Button/Button.js
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.scss
  src/components/Requests/Requests.js
  src/components/Requests/Requests.scss
Labels: cypress, front-end
